/* GLOBAL PROPERTIES */

body {
    width: 100%;
    margin: 0;
}

body > div:first-child {
    background-color: black;
    margin: 0px;
    border-style: solid;
    border-width: 1px;
}

#section-filter, .row > div {
    margin: 0px;
}

.viz-delimited-bg {
    background-color: hsl(0, 0%, 96%);
    padding: 3px 5px;
    margin: 3px 5px;
}

h1 {
    color: white;
    margin: 5px 0;
    font-size: 20px;
    text-align: center;
}

h2 {
    margin: 1px 0;
    font-size: 18px;
    color: hsl(0, 0%, 20%);
    text-align: center;
}

h3 {
    font-size: 15px;
    margin: 0px;
}

svg:not(#map-svg) {
    display: block;
    margin: auto;
    background-color: white;
    width: 100%;
}

.viz-container {
    padding: 0px 10px;
    margin-bottom: 3px;
    width: 100%;
}

.d3-tip {
    z-index: 1000;
}

/* */

* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
}

@media only screen and (min-width: 300px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    .row {
        padding-left: 0%;
        padding-right: 0%;
    }
}
@media only screen and (min-width: 1200px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .row {
        padding-left: 8%;
        padding-right: 8%;
    }
}

/* FILTER SECTION PROPERTIES */

#viz1-svg {
    height: 125px;
}

/* BY STOP SECTION PROPERTIES */

#viz2-svg {
    height: 350px;
}

#viz3-svg {
    height: 150px;
}

/* BY STOP SECTION PROPERTIES */

#viz4a-svg {
    height: 288px;
}

#viz4b-svg {
    height: 288px;
}

/* VIZ 1 */

.viz1-axis-x .tick line {
    display: none;
}

.viz1-axis-y .tick text, .viz1-axis-x .tick text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.viz1-axis-x path {
    display: none;
}

@media only screen and (max-width: 800px) {
    .viz1-axis-x .tick:nth-child(even) {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    .viz1-axis-x .tick:not(:nth-child(3n+0)) {
        display: none;
    }

    .viz1-axis-x .tick:nth-child(3n+0) {
        display: block;
    }
}

.viz1-axis-y .tick line {
    stroke: lightgrey;
}

.viz1-axis-y path {
    display: none;
}

#viz1-tooltip-title {
    font-size: 10px;
    margin: 0 0 5px 0;
}

.viz1-tooltip-value {
    font-size: 10px;
    margin: 0;
}


/* VIZ 2 */

#map {
    height: 350px;
}

/* Not used */
.viz2-legend {
    width: 150px;
    height: 50px;
}

.bg-white
{
    background-color: white;
}


/* VIZ 3 */
.viz3-tooltip-value {
    font-size: 14px;
    margin: 0;
}

/* Hides vertical bar in y-axis*/
.no-line .domain {
    display:none;
}

.viz4-tooltip-value {
    font-size: 10px;
    margin: 0;
}
